.container-dark {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

tr.selected {
  background-color: #1e0072;
}

.votacao-opcoes {
  margin-top: 20px;
}

.btn-primary, .btn-danger {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 24, 24, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(46, 45, 53);
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.no-data {
  text-align: center;
  padding: 20px;
}
