.green {
  color: #28a745;
  font-weight: bold;
}

.yellow {
  color: #ffc107;
  font-weight: bold;
}

.red {
  color: #dc3545;
  font-weight: bold;
}

.expired {
  color: var(--error-color);
  font-weight: bold;
}
