<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="bi bi-grid-fill me-2"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pautas" routerLinkActive="active">
        <i class="bi bi-file-text-fill me-2"></i> Pautas
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sessoes" routerLinkActive="active">
        <i class="bi bi-calendar-event-fill me-2"></i> Sessões
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/votos/novo" routerLinkActive="active">
        <i class="bi bi-check-square-fill me-2"></i> Votos
      </a>
    </li>
  </ul>
</div>
